NODE_ENV=development
LOG_LEVEL=info
CORS_ORIGIN=http://localhost:3001,http://127.0.0.1:3001
DATABASE_URL=

# Better Auth Configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Upstash Redis Configuration (for Rate Limiting)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
